{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  任务列表
{% endblock title %}

<!-- 主体 -->
{% block content %}
  <div class="col">
    <p style="height: 2px;"></p>
    <!-- 中间栏 -->
    <div class="padder">
      <!-- 任务列表 -->
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div style="border-left: 4px solid #003366; margin-bottom: 10px; margin-top: 10px; height: 25px;font-size: 18px;">
              <span>&nbsp;&nbsp;任务列表</span>
            </div>
          </div>
          <div class="panel-body container" style="height: 745px;">
            <div class="module-option clearfix">
              <form class="navbar-form pull-left " role="search" method="get" style="margin-top: 0px;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm bg-light no-border rounded" name="keywords"
                           placeholder="关键词搜索" style="width: 150px;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-auto rounded"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
                </div>
              </form>
            </div>


         <div class="row" style="height: 610px;">
                <div class="col-sm-12">

                  <table class="table table-hover table-bordered dataTable" id="departtable" role="grid">

                    <!-- 标题行 -->
                    <thead>
                    <tr role="row">
                      <th class="text-center" rowspan="1" colspan="1" style="">ID</th>
                      <th class="text-center sorting" rowspan="1" colspan="1" style="">任务名称</th>
                      <th class="text-center sorting" rowspan="1" colspan="1" style="">任务状态</th>
                      <th class="text-center" rowspan="1" colspan="1">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for campaign in campaigns.object_list %}
                      <tr class="gradeX {% if forloop.counter|divisibleby:'2' %}odd{% else %}even{% endif %}"
                          role="row">
                        <td class="text-center" style="vertical-align : middle;">{{ forloop.counter }}</td>
                        <td class="text-center" style="vertical-align : middle;">{{ campaign.name }}</td>
                      {% if campaign.status == "2"%}
                        <td class="text-center" style="vertical-align: middle;"><span class="badge bg-green">{{ campaign.get_status_display }}</span></td>
                      {% else %}
                        <td class="text-center" style="vertical-align: middle;"><span class="badge bg-red">{{ campaign.get_status_display }}</span></td>
                      {% endif %}
                        <td class="text-center" style="vertical-align: middle;">
                            <a href="{% url 'campaigns:campaign_detail' campaign.id %}" class="btn btn-info">详情</a>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#DeleteCampaignModal{{ campaign.id }}">删除</button>
                            <button class="btn bg-purple" data-toggle="modal" data-target="#ExecCampaignModal{{ campaign.id }}">执行</button>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>



                </div>
              </div>
            </div>

            <!-- 页码 -->
            <div class="row">
              <div class="col-md-12 text-center">
                <ul class="pagination">
                  <!-- 上一页 -->
                  {% if campaigns.has_previous %}
                    <li class="long"><a href="?{{ campaigns.previous_page_number.querystring }}">上一页</a></li>
                  {% endif %}
                  <!-- 页码 -->
                  {% for page in campaigns.pages %}
                    {% if page %}
                      {% ifequal page campaigns.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                class="sr-only">(current)</span></a></li>
                      {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}<span class="sr-only"></span></a></li>
                      {% endifequal %}
                    {% else %}
                      <li><a href="">...<span class="sr-only"></span></a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- 下一页 -->
                  {% if campaigns.has_next %}
                    <li><a href="?{{ campaigns.next_page_number.querystring }}">下一页<span class="sr-only"></span></a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>


{% endblock content %}
{% block script %}

<!-- 删除框 -->
{% for campaign in campaigns.object_list %}
    <div class="modal fade modal-warning" id="DeleteCampaignModal{{ campaign.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">删除任务</h4>
          </div>
          <div class="modal-body">
             <div class="row" id="modal.flashes"></div>
              <form method="post" id="js_deleteCampaignForm{{ campaign.id }}">
                  <div class="form-group">
                      <p>是否删除该任务？</p>
                  </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-outline" id="js_deleteCampaign{{ campaign.id }}">确认</button>
          </div>
        </div>
      </div>
    </div>

<script>
//删除
    $(function () {
        $('#js_deleteCampaign{{ campaign.id }}').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'campaigns:del_campaign' campaign.id %}",
                data: $('#js_deleteCampaignForm{{ depart.id }}').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.options.onHidden = function() { window.location.href = "{% url 'campaigns:campaign_list' %}"; }
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.error(data.msg);
                    }
                }
            });
        });
    })

</script>
{% endfor %}

<!-- 执行框 -->
    {% for campaign in campaigns.object_list %}
        <div class="modal fade" id="ExecCampaignModal{{ campaign.id }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">执行</h4>
              </div>
                <div class="modal-body">
             <div class="row" id="modal.flashes"></div>
              <form method="post" id="js_execCampaignForm{{ campaign.id }}">
                  <div class="form-group">
                      <p>执行该任务？</p>
                  </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="js_execCampaign{{ campaign.id }}">执行</button>
          </div>
        </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script>
        //执行任务
        $(function () {
            $('#js_execCampaign{{ campaign.id }}').on('click', function () {
                toastr.options = {
                    closeButton: false,
                    debug: false,
                    progressBar: false,
                    positionClass: "toast-top-right",
                    onclick: null,
                    showDuration: "300",
                    hideDuration: "1000",
                    timeOut: "1000",
                    extendedTimeOut: "1000",
                    showEasing: "swing",
                    hideEasing: "linear",
                    showMethod: "fadeIn",
                    hideMethod: "fadeOut"
                };
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "{% url 'campaigns:exec_campaign' campaign.id %}",
                    data: $('#js_execCampaign{{ campaign.id }}').serialize(),
                    async: true,
                    beforeSend: function (xhr, settings) {
                      // 这里需要csrf_token的值，而不是代码
                      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                    },
                    success: function (data) {
                      if (data.status == 'success') {
                          toastr.options.timeOut = 1000;
                          toastr.options.onHidden = function() { window.location.href = "{% url 'campaigns:campaign_list' %}"; }
                          toastr.success(data.msg);
                      } else if (data.status == 'fail') {
                          toastr.error(data.msg);
                      }
                    }
                });
            })
        })

        </script>
    {% endfor %}

<link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
<script src="{% static 'toastr/toastr.min.js' %}"></script>
{% endblock script %}