{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  邮件头配置
{% endblock title %}

{% block css %}

{% endblock css %}

<!-- 主体 -->
{% block content %}
  <div class="col">
    <p style="height: 2px;"></p>
    <!-- 中间栏 -->
    <div class="padder">
      <!-- 邮件头 -->
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div style="border-left: 4px solid #003366; margin-bottom: 10px; margin-top: 10px; height: 25px;font-size: 18px;">
              <span>&nbsp;&nbsp;邮件头</span>
            </div>
          </div>
          <div class="panel-body container" style="height: 745px;">
            <div class="module-option clearfix">
              <form class="navbar-form pull-left " role="search" method="get" style="margin-top: 0px;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm bg-light no-border rounded" name="keywords"
                           placeholder="关键词搜索" style="width: 150px;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-auto rounded"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
                </div>
              </form>
                <div class="navbar-btn pull-right" style="margin-top: 0px;width: 150px;">
                    <span>
                          <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#AddHeaderModal"><i class="fa fa-plus"></i> 添加邮件头</button>
                      </span>
                </div>
            </div>


         <div class="row" style="height: 610px;">
                <div class="col-sm-12">

                  <table class="table table-hover table-bordered dataTable" id="grouptable" role="grid">

                    <!-- 标题行 -->
                    <thead>
                    <tr role="row">
                      <th class="text-center" rowspan="1" colspan="1" style="">ID</th>
                      <th class="text-center sorting" rowspan="1" colspan="1" style="">邮件头名称</th>
                      <th class="text-center sorting" rowspan="1" colspan="1">发送姓名</th>
                      <th class="text-center sorting" rowspan="1" colspan="1">发送地址</th>
                      <th class="text-center" rowspan="1" colspan="1">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for header in emailheaders.object_list %}
                      <tr class="gradeX {% if forloop.counter|divisibleby:'2' %}odd{% else %}even{% endif %}"
                          role="row">
                        <td class="text-center" style="vertical-align : middle;">{{ forloop.counter }}</td>
                        <td class="text-center" style="vertical-align : middle;">{{ header.name }}</td>
                        <td class="text-center" style="vertical-align : middle;">{{ header.from_name }}</td>
                        <td class="text-center" style="vertical-align : middle;">{{ header.from_addr }}</td>
                        <td class="text-center" style="vertical-align: middle;">
                            <button class="btn btn-info" data-toggle="modal" data-target="#EditHeaderModal{{ header.id }}">编辑</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#DeleteHeaderModal{{ header.id }}">删除</button>
                            <button class="btn bg-purple" data-toggle="modal" data-target="#TestHeaderModal{{ header.id }}">测试</button>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>



                </div>
              </div>
            </div>

            <!-- 页码 -->
            <div class="row">
              <div class="col-md-12 text-center">
                <ul class="pagination">
                  <!-- 上一页 -->
                  {% if pages.has_previous %}
                    <li class="long"><a href="?{{ pages.previous_page_number.querystring }}">上一页</a></li>
                  {% endif %}
                  <!-- 页码 -->
                  {% for page in pages.pages %}
                    {% if page %}
                      {% ifequal page pages.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                class="sr-only">(current)</span></a></li>
                      {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}<span class="sr-only"></span></a></li>
                      {% endifequal %}
                    {% else %}
                      <li><a href="">...<span class="sr-only"></span></a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- 下一页 -->
                  {% if pages.has_next %}
                    <li><a href="?{{ pages.next_page_number.querystring }}">下一页<span class="sr-only"></span></a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>


{% endblock content %}
{% block script %}

<!-- 添加框 -->
<div class="modal fade" id="AddHeaderModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加邮件头</h4>
      </div>
      <div class="modal-body">
          <form method="post" id="js_addHeaderForm">
            <label class="control-label" for="name">命名:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="名称" name="name" />
            </div>
            <label class="control-label" for="from_name">发送姓名:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="伪造发送人姓名" name="from_name">
            </div>
            <label class="control-label" for="from_addr">发送地址:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="伪造发件人邮箱" name="from_addr">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="js_addHeader">保存</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<script>
//添加按钮提交
    $(function () {
        //提交表单
        $('#js_addHeader').on('click', function () {
            toastr.options = {
                closeButton: false,
                debug: false,
                progressBar: false,
                positionClass: "toast-top-right",
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
            };
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'smtp:add_header' %}",
                dataType: 'json',
                data: $('#js_addHeaderForm').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.options.onHidden = function() { window.location.href = "{% url 'smtp:header_list' %}"; }
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.options.timeOut = 1000;
                        toastr.error(data.msg);
                    }
                }
            });
        })
    })
</script>

<!-- 删除框 -->
    {% for header in emailheaders.object_list %}
   <div class="modal fade modal-warning" id="DeleteHeaderModal{{ header.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">删除邮件头</h4>
          </div>
          <div class="modal-body">
             <div class="row" id="modal.flashes"></div>
              <form method="post" id="js_deleteHeaderForm{{ header.id }}">
                  <div class="form-group">
                      <p>是否删除该邮件头配置？</p>
                  </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-outline" id="js_deleteHeader{{ header.id }}">确认</button>
          </div>
        </div>

      </div>
    </div>

<script>
//删除
    $(function () {
        $('#js_deleteHeader{{ header.id }}').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'smtp:del_header' header.id %}",
                data: $('#js_deleteHeaderForm{{ header.id }}').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.options.onHidden = function() { window.location.href = "{% url 'smtp:header_list' %}"; }
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.error(data.msg);
                    }
                }
            });
        });
    });
</script>


<!-- 编辑框 -->

<div class="modal fade" id="EditHeaderModal{{ header.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">编辑邮件头</h4>
      </div>
      <div class="modal-body">
          <form method="post" id="js_EditHeaderForm{{ header.id }}">
            <label class="control-label" for="name">命名:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="名称" name="name" value="{{ header.name }}"/>
            </div>
            <label class="control-label" for="from_name">发送姓名:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="伪造发送人姓名" name="from_name" value="{{ header.from_name }}">
            </div>
            <label class="control-label" for="from_addr">发送地址:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="伪造发件人邮箱" name="from_addr" value="{{ header.from_addr }}">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="js_editHeader{{ header.id }}">保存</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script>
//编辑
$(function () {
    //提交表单
    $('#js_editHeader{{ header.id }}').on('click', function () {
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: false,
            positionClass: "toast-top-right",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
        $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'smtp:edit_header' header.id %}",
                dataType: 'json',
                data: $('#js_EditHeaderForm{{ header.id }}').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.options.onHidden = function() { window.location.href = "{% url 'smtp:header_list' %}"; }
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.options.timeOut = 1000;
                        toastr.error(data.msg);
                    }
                }
            });
        })
});
</script>

<!-- 测试框 -->
<div class="modal fade" id="TestHeaderModal{{ header.id }}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">发送测试邮件</h4>
      </div>
      <div class="modal-body">
          <form method="post" id="js_TestHeaderForm{{ header.id }}">
            <label for="server">选择邮件服务器:</label>
            <div class="form-group">
                <select name="server" class="form-control">
                    {% for server in emailservers %}
                        <option value="{{ server.id }}">{{ server.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <label class="control-label" for="to_addr">测试邮件接收地址:</label>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="测试时填写" name="to_addr">
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
        <button type="button" class="btn bg-purple" id="js_testHeader{{ header.id }}">发送</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
//发送测试邮件
$(function () {
    //提交表单
    $('#js_testHeader{{ header.id }}').on('click', function () {
        toastr.options = {
            closeButton: false,
            debug: false,
            progressBar: false,
            positionClass: "toast-top-right",
            onclick: null,
            showDuration: "300",
            hideDuration: "1000",
            timeOut: "5000",
            extendedTimeOut: "1000",
            showEasing: "swing",
            hideEasing: "linear",
            showMethod: "fadeIn",
            hideMethod: "fadeOut"
        };
        $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'smtp:test_header' header.id %}",
                dataType: 'json',
                data: $('#js_TestHeaderForm{{ header.id }}').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.options.timeOut = 1000;
                        toastr.error(data.msg);
                    }
                }
            });
        })
});
</script>

{% endfor %}




<link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
<script src="{% static 'toastr/toastr.min.js' %}"></script>
{% endblock script %}