{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
  分组列表
{% endblock title %}

<!-- 主体 -->
{% block content %}
  <div class="col">
    <p style="height: 2px;"></p>
    <!-- 中间栏 -->
    <div class="padder">
      <!-- 分组列表 -->
      <div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div style="border-left: 4px solid #003366; margin-bottom: 10px; margin-top: 10px; height: 25px;font-size: 18px;">
              <span>&nbsp;&nbsp;分组列表</span>
            </div>
          </div>
          <div class="panel-body container" style="height: 745px;">
            <div class="module-option clearfix">
              <form class="navbar-form pull-left " role="search" method="get" style="margin-top: 0px;">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control input-sm bg-light no-border rounded" name="keywords"
                           placeholder="关键词搜索" style="width: 150px;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-sm bg-auto rounded"><i class="fa fa-search"></i></button>
                      </span>
                  </div>
                </div>
              </form>
                <div class="navbar-btn pull-right" style="margin-top: 0px;width: 150px;">
                    <span>
                          <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#AddGroupModal"><i class="fa fa-plus"></i> 添加分组</button>
                      </span>
                </div>
            </div>


         <div class="row" style="height: 610px;">
                <div class="col-sm-12">

                  <table class="table table-hover table-bordered dataTable" id="grouptable" role="grid">

                    <!-- 标题行 -->
                    <thead>
                    <tr role="row">
                      <th class="text-center" rowspan="1" colspan="1" style="">ID</th>
                      <th class="text-center sorting" rowspan="1" colspan="1" style="">分组</th>
                      <th class="text-center" rowspan="1" colspan="1">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for each_group in groups.object_list %}
                      <tr class="gradeX {% if forloop.counter|divisibleby:'2' %}odd{% else %}even{% endif %}"
                          role="row">
                        <td class="text-center" style="vertical-align : middle;">{{ forloop.counter }}</td>
                        <td class="text-center" style="vertical-align : middle;">{{ each_group.name }}</td>
                        <td class="text-center" style="vertical-align: middle;">
                            <button class="btn btn-info" data-toggle="modal" data-target="#EditGroupModal{{ each_group.id }}">编辑</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#DeleteGroupModal{{ each_group.id }}">删除</button>
                        </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>



                </div>
              </div>
            </div>

            <!-- 页码 -->
            <div class="row">
              <div class="col-md-12 text-center">
                <ul class="pagination">
                  <!-- 上一页 -->
                  {% if groups.has_previous %}
                    <li class="long"><a href="?{{ groups.previous_page_number.querystring }}">上一页</a></li>
                  {% endif %}
                  <!-- 页码 -->
                  {% for page in groups.pages %}
                    {% if page %}
                      {% ifequal page groups.number %}
                        <li class="active"><a href="?page={{ page }}">{{ page }}<span
                                class="sr-only">(current)</span></a></li>
                      {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}<span class="sr-only"></span></a></li>
                      {% endifequal %}
                    {% else %}
                      <li><a href="">...<span class="sr-only"></span></a></li>
                    {% endif %}
                  {% endfor %}
                  <!-- 下一页 -->
                  {% if groups.has_next %}
                    <li><a href="?{{ groups.next_page_number.querystring }}">下一页<span class="sr-only"></span></a>
                    </li>
                  {% endif %}
                </ul>
              </div>
            </div>



          </div>
        </div>
      </div>

    </div>


{% endblock content %}
{% block script %}
 <!-- 添加框 -->

        <div class="modal fade" id="AddGroupModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新分组</h4>
              </div>
                <form method="post" id="js_addGroupForm">
                  <div class="modal-body">
                      <div class="row" id="modal.flashes"></div>
                      <div class="form-group">
                          <label class="control-label" for="name">新分组:</label>
                          <input type="text" class="form-control" placeholder="组名" id="name" autofocus />
                      </div>
                      <div class="form-group">
                          <label for="group_members">人员:</label>
                          <div id="container" style="width: 90%;height: 90%;">
                            <div class="row">
                                <div class="col-xs-5">
                                    <select name="from[]" id="search" class="form-control" size="8" multiple="multiple">
                                        {% for linkman in linkmen %}
                                        <option value="{{ linkman.id }}">{{ linkman.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-xs-2">
                                    <button type="button" id="search_rightAll" class="btn btn-block"><i class="glyphicon glyphicon-forward"></i></button>
                                    <button type="button" id="search_rightSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-right"></i></button>
                                    <button type="button" id="search_leftSelected" class="btn btn-block"><i class="glyphicon glyphicon-chevron-left"></i></button>
                                    <button type="button" id="search_leftAll" class="btn btn-block"><i class="glyphicon glyphicon-backward"></i></button>
                                </div>

                                <div class="col-xs-5">
                                    <select name="to[]" id="search_to" class="form-control" size="8" multiple="multiple"></select>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="js_addGroup">保存</button>
                  </div>
                </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

<script>
jQuery(document).ready(function($) {
    $('#search').multiselect({
        search: {
            left: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
            right: '<input type="text" name="q" class="form-control" placeholder="Search..." />',
        },
        fireSearch: function(value) {
            return value.length > 3;
        }
    });
});


      $(function () {
          // 提交表单
          $('#js_addGroup').on('click', function () {
              var name = $('#name').val();
              var options = $('#search_to option');
              var members = new Array();
              var i;

              for(i=0;i<options.length;i++){
                  members.push(options[i].value);
              }
              //console.log(members);

              toastr.options = {
                closeButton: false,
                debug: false,
                progressBar: false,
                positionClass: "toast-top-right",
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut"
              };
              $.ajax({
                  cache: false,
                  type: "POST",
                  url: "{% url 'contacts:add_group' %}",
                  dataType: 'json',
                  //data: $('#js_addGroupForm').serialize(),
                  data: {
                    'name': name,
                    'members': members,
                  },
                  async: true,
                  beforeSend: function (xhr, settings) {
                      // 这里需要csrf_token的值，而不是代码
                      xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                  },
                  success: function (data) {
                      if (data.status == 'success') {
                          toastr.options.timeOut = 1000;
                          toastr.options.onHidden = function() { window.location.href = "{% url 'contacts:group_list' %}"; }
                          toastr.success(data.msg);
                      } else if (data.status == 'fail') {
                          toastr.error(data.msg);
                      }
                  }
              });
          });
      })
</script>

<!-- 删除 -->
    {% for group in groups.object_list %}
    <div class="modal fade modal-warning" id="DeleteGroupModal{{ group.id }}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">删除分组</h4>
          </div>
          <div class="modal-body">
             <div class="row" id="modal.flashes"></div>
              <form method="post" id="js_deleteGroupForm{{ group.id }}">
                  <div class="form-group">
                      <p>是否删除该部门？</p>
                  </div>
              </form>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-outline" id="js_deleteGroup{{ group.id }}">确认</button>
          </div>
        </div>
      </div>
    </div>


<script>
    //删除
    $(function () {
        $('#js_deleteGroup{{ group.id }}').on('click', function () {
            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'contacts:del_group' group.id %}",
                data: $('#js_deleteGroupForm{{ group.id }}').serialize(),
                async: true,
                beforeSend: function (xhr, settings) {
                    // 这里需要csrf_token的值，而不是代码
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status == 'success') {
                        toastr.options.timeOut = 1000;
                        toastr.options.onHidden = function() { window.location.href = "{% url 'contacts:group_list' %}"; }
                        toastr.success(data.msg);
                    } else if (data.status == 'fail') {
                        toastr.error(data.msg);
                    }
                }
            });
        });
    });
</script>
    {% endfor %}


<link href="{% static 'toastr/toastr.css' %}" rel="stylesheet"/>
<script src="{% static 'toastr/toastr.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'multiselect/dist/js/multiselect.min.js' %}"></script>
{% endblock script %}